/* Birkbeck Moodle Mobile */

/* mod_choice */

/* results */
.nvd3 .nv-axis .zero line, .nvd3 .nv-axis line.zero {
    stroke-opacity: 0;
}
svg.nvd3-svg {
  margin-bottom: 1em;
  padding-bottom: 2em;
}
section.results h1 {
    padding-top: .5em;
}

/* wrap answer text */
.radio-content span {
  white-space: normal;
}

/* mod_page */
article {
  background: white;
  padding: .5em;
}
article ul {
  list-style: initial;
  margin-left: 1.5em;
  padding-bottom: .5em;
}
article ol {
  list-style-type: decimal;
  margin-left: 1.5em;
  padding-bottom: .5em;
}
/* copy bbk.ac.uk */
article h1 {
  font-size: 1.5rem;
  line-height: 1.3em;
  color: #016b8f;
}
article h2 {
  font-size: 1rem;
  line-height: 1.3em;
  color: #016b8f;
}
dl dt {
  margin: .5em 0;
}

/* roadmap */
div.roadmap ul, div.roadmap ol {
  color: #797d80;
}
div.roadmap ol li ul li {
  font-weight: normal;
}
div.roadmap ol li {
  font-weight: bold;
}
ul.stage li, li.stage {
  color: black;
}
li.stage:before {
  content: '> ';
  font-weight: bold;
  margin-right: .25em;
}
