
.foreground-ion-edit.ion-edit:before {
    position: relative;
    left: 120px;
    bottom: 15px;
    font-size: 24px;
}

.mm-site_mm_user-profile .mm-tab-handlers {
    padding-bottom: 16px;
}

ion-nav-bar {
    ion-header-bar {
        background-color: $bar-content-bg;
    }
    &.yellow-header {
        font-size: inherit;
        ion-header-bar {
            background-color: #ffb600;
        }
    }
}

.mm-avatar {
    width: 150px !important;
    height: 150px !important;
    max-width: 150px !important;
    max-height: 150px !important;
}

.item-avatar-center {
    h2 {
        font-size: 1.3em;
        font-weight: 600;
    }
}