# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
/plugins/
hooks/
www/build
.sass-cache/
www/lib
#<<<<<<< HEAD
/nbproject/private/
.idea
#=======
e2e/build
#>>>>>>> upstream/master
