// Variables.
$bar-side-menu-height: 80px !default;
$bar-side-menu-color: $bar-content-bg !default;
$bar-side-menu-border-color: $bar-content-border !default;
$bar-side-menu-text-color: $bar-content-text !default;

// Bar styles
.bar-side-menu {
  @include bar-style($bar-side-menu-color, $bar-side-menu-border-color, $bar-side-menu-text-color);
  height: $bar-side-menu-height !important; // MOBILE-959: Added !important to fix side menu header in iOS.
  .item {
    background: transparent;
    border: none;
  }
  .item-avatar {
    margin-top: 0px !important; // MOBILE-959: Added to fix side menu header in iOS.
    h2,
    p {
      color: $bar-side-menu-text-color;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 1.1em;
    }
  }
}

.has-side-menu-header {
  top: $bar-side-menu-height;
}

.mm-sidemenu-menu {
  .item .badge {
    right: 16px;
  }
}

.bb-white {
  color: white;
}

.bb-font-weight-600 {
  font-weight: 600;
}

// left side menu
div.menu-item-divider {
  min-height: 1px;
  height: 3px;
  border-top: 1px solid white;
  padding: 0;
  margin: 0 1em;
  background-color: white;
}

.item.active, .mm-grades-table .active.itemcenter, .item.activated, .mm-grades-table .activated.itemcenter, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .mm-grades-table .itemcenter .item-content.active, .item .item-content.activated, .mm-grades-table .itemcenter .item-content.activated {
  background-color: white !important;
}
