
.item.item-button-right .badge.mm-course-download{
  right: $spinner-width + $item-padding;
}

.mm-course-module-handler mm-format-text + mm-format-text {
  margin-top: 16px;
}

mm-course-mod-description .card .item {
  padding: $item-padding / 2;
}

.padding mm-course-mod-description .card {
  margin-top: 0;
}

.section-element-item{
  text-transform: uppercase;
  color: $bar-content-bg;
  font-weight: 600;
}

.list:first-child {
  border: none;
}

.header-title {
  min-height: 100px;
  padding: 5px 60px 5px 15px;
  font-weight: 600;
  font-size: 2em;
  line-height: 1em;
}

.banner {
  min-height: 100px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .banner-title {
    position: absolute;
    padding: 5px 60px 5px 15px;
    font-weight: 600;
    font-size: 2em;
    color: white;
    line-height: 1em;
    background: -webkit-linear-gradient(top, rgba(0,0,0,1),rgba(0,0,0,0));
  }
  img {
    margin: 0 !important;
    height: 100px !important;
  }
  p {
    margin: 0 !important;
  }
}